*.bak.*
*.local.json
*.log
.claude/*.lock
*.tsbuildinfo
.artifact
.env
.review
/.reviews
.rhachet
.serverless
.temp
.terraform
.terraform.lock
.vscode
.yalc
coverage
dist
node_modules
!.test*/**/node_modules
!.test*/**/node_modules/**
