*.bak.*
*.local.json
*.log
.agent/.notes
.claude/*.lock
*.tsbuildinfo
.agent/.cache/
.cache/
.artifact
.claude/scheduled_tasks.lock
.env
.review
/.reviews
/review
.rhachet
.route/.bouncer.cache.json
.serverless
.temp
.terraform
.terraform.lock
.vscode
.yalc
/.reviews
coverage
dist
node_modules
!.test*/**/node_modules
!.test*/**/node_modules/**
